

<% provide(:title, "Edit user") %> 
<div class="row">
  <div class="small-5 small-centered columns">
    <h1>Update your profile</h1>

      <%= form_for(@weddy) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :guests %>
        <%= f.text_field :guests %>

        <%= f.label :weddate %>
        <%= f.date_select(:weddate,:start_year => 2013)%>


        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
  </div>
</div>