<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '358934780899428',                        // App ID from the app dashboard
      channelUrl : 'http://localhost:3000/channel.html', // Channel file for x-domain comms
      status     : true,                            // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here

    FB.Event.subscribe('auth.login', function () {
          window.location = "/auth/facebook";
      });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=358934780899428";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>





<header>
  <div class="row">
    <% if user_signed_in? or weddy_signed_in? or supplier_signed_in? %>
    
         <!-- Header and Nav -->
  
        <div class="row">
          <div class="large-2 columns">
            <h2>Wed-e</h2>
          </div>
          <div class="large-10 columns">
            <ul class="inline-list right">
              <% if supplier_signed_in? %>
              <li><%= link_to 'Salir', destroy_supplier_session_path, :method=>'delete' %></li>
              <li><%= link_to "Configuración", edit_supplier_path(current_supplier) %></li>
              <% elsif weddy_signed_in? %>  
                <li><%= link_to 'Salir', destroy_weddy_session_path, :method=>'delete' %></li>
                <li><%= link_to "Configuración", edit_weddy_path(current_weddy) %></li>
              <% else user_signed_in? %>  
                <li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>
                <li><%= link_to "Configuración", edit_user_path(current_user) %></li>
              <% end %>         
            </ul>
          </div>
        </div>
    

    <!-- for no sessions -->
    <%else%>
      <div class="small-2 columns" style="height: 60px;">
           <%= link_to image_tag("logo_wed-e.png"), root_path %>
      </div>
      <div class="small-2 push-1 columns login-top">
          <%= link_to image_tag("login.png", :class => 'logo'), new_weddy_session_path %>
      </div> 
      
    <%end%>
  </div>
</header>
